<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss:SSS} [%-5p] [%t] [%X{tid}] [%c{1}:%L] %m %n"/>
    </Console>
  </Appenders>

  <Loggers>
    <Logger name="springfox.documentation" level="INFO"/>
    <Logger name="org.springframework" level="INFO"/>
    <Logger name="com.zaxxer.hikari" level="INFO"/>

    <Root level="DEBUG">
      <AppenderRef ref="CONSOLE" />
    </Root>
  </Loggers>
</Configuration>
